extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back      
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Michael Harris

        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am a former Chemical Engineer, hoping to find a full-time Web Design position.  I have had a lot of experience dealing with customers, and meeting, or exceeding, their expectations.  I have had a lot of opportunities to develop skills in problem-solving and project planning, which I feel that I can apply to the projects at hand.  I am currently studying Full-Stack Javascript through Team Treehouse, and hope to transition into a full-time position.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li CSS
          li HTML
          li npm
          li JSON
          li git
          li Express
          li Node.js
          li Pug
          li Problem-solving
          li Project Planning
          li Customer Support

        h6 Contact Info

        ul
          li 330-730-9801
          li mhxander@aol.com

        a.button.expanded(href='https://www.linkedin.com/in/michael-harris-96073683/' target = '_blank') LinkedIn
        a.button.expanded(href='https://github.com/mhxander' target = '_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  